{% extends "base.html" %}
{% load static %}

{% block content %}



<!--/Corporate events  star /-->
<div id="corporate_event">
<section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Corporate events</h1>
          </div>

        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'staticmediapages:home' %}">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Corporate events
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
</section>

<section class="section-about">
    <div class="container">
              <p class="color-text-a mt-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      <div class="row">


        <div class="col-sm-12">

          <div class="about-img-box">
            <img src="{% static 'img/slide-about-1.jpg' %}" alt="" class="img-fluid">
          </div>
          <div class="sinse-box">
            <h3 class="sinse-title">Evento
              <span></span>
              <br>Sinse 2019</h3>
            <p>Event management</p>
          </div>
        </div>

      </div>
    </div>
</section>

<!--Categories-->

<section class="section-agents mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Categories</h2>
          </div>
          <!-- <div class="title-link">
            <a href="agents-grid.html">All Images
              <span class="ion-ios-arrow-forward"></span>
            </a>
          </div> -->
        </div>
      </div>
    </div>


    </div>
</section>

<section id="courses" class="section-padding">

<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6 padleft-right">
      <figure class="imghvr-fold-up">
        <img src="{% static 'img/post-7.jpg' %}" class="img-responsive">
        <figcaption>
          <h4>Course Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur libero fugiat, similique quis.</p>
        </figcaption>
        <a href="#"></a>
      </figure>
    </div>
    <div class="col-md-3 col-sm-6 padleft-right">
      <figure class="imghvr-fold-up">
        <img src="{% static 'img/post-7.jpg' %}" class="img-responsive">
        <figcaption>
          <h4>Course Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur libero fugiat, similique quis.</p>
        </figcaption>
        <a href="#"></a>
      </figure>
    </div>
    <div class="col-md-3 col-sm-6 padleft-right">
      <figure class="imghvr-fold-up">
        <img src="{% static 'img/post-7.jpg' %}" class="img-responsive">
        <figcaption>
          <h4>Course Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur libero fugiat, similique quis.</p>
        </figcaption>
        <a href="#"></a>
      </figure>
    </div>
    <div class="col-md-3 col-sm-6 padleft-right">
      <figure class="imghvr-fold-up">
        <img src="{% static 'img/post-7.jpg' %}" class="img-responsive">
        <figcaption>
          <h4>Course Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur libero fugiat, similique quis.</p>
        </figcaption>
        <a href="#"></a>
      </figure>
    </div>
  </div>
</div>
</section>
</div>
<!--Categories-->
<!--/Corporate events  star end /-->





<!--/Wedding planner  star /-->
<div id="wedding_planner">
<section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Wedding planner</h1>
          </div>

        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'staticmediapages:home' %}">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Wedding planner
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
</section>

<section class="section-about">
    <div class="container">
              <p class="color-text-a mt-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      <div class="row">


        <div class="col-sm-12">

          <div class="about-img-box">
            <img src="{% static 'img/slide-about-1.jpg' %}" alt="" class="img-fluid">
          </div>
          <div class="sinse-box">
            <h3 class="sinse-title">Evento
              <span></span>
              <br>Sinse 2019</h3>
            <p>Event management</p>
          </div>
        </div>

      </div>
    </div>
</section>

<!--Categories-->
<section class="section-agents mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Categories</h2>
          </div>
          <!-- <div class="title-link">
            <a href="agents-grid.html">All Images
              <span class="ion-ios-arrow-forward"></span>
            </a>
          </div> -->
        </div>
      </div>
    </div>


    </div>
</section>

<section id="courses" class="section-padding">

<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6 padleft-right">
      <figure class="imghvr-fold-up">
        <img src="{% static 'img/post-7.jpg' %}" class="img-responsive">
        <figcaption>
          <h4>Course Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur libero fugiat, similique quis.</p>
        </figcaption>
        <a href="#"></a>
      </figure>
    </div>
    <div class="col-md-3 col-sm-6 padleft-right">
      <figure class="imghvr-fold-up">
        <img src="{% static 'img/post-7.jpg' %}" class="img-responsive">
        <figcaption>
          <h4>Course Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur libero fugiat, similique quis.</p>
        </figcaption>
        <a href="#"></a>
      </figure>
    </div>
    <div class="col-md-3 col-sm-6 padleft-right">
      <figure class="imghvr-fold-up">
        <img src="{% static 'img/post-7.jpg' %}" class="img-responsive">
        <figcaption>
          <h4>Course Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur libero fugiat, similique quis.</p>
        </figcaption>
        <a href="#"></a>
      </figure>
    </div>
    <div class="col-md-3 col-sm-6 padleft-right">
      <figure class="imghvr-fold-up">
        <img src="{% static 'img/post-7.jpg' %}" class="img-responsive">
        <figcaption>
          <h4>Course Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur libero fugiat, similique quis.</p>
        </figcaption>
        <a href="#"></a>
      </figure>
    </div>
  </div>
</div>
</section>
</div>
<!--Categories-->
<!--/wedding planner  star end /-->







<!--/Corporate events  star /-->
<div id="social_events">
<section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Social events</h1>
          </div>

        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'staticmediapages:home' %}">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Social events
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
</section>

<section class="section-about">
    <div class="container">
              <p class="color-text-a mt-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      <div class="row">


        <div class="col-sm-12">

          <div class="about-img-box">
            <img src="{% static 'img/slide-about-1.jpg' %}" alt="" class="img-fluid">
          </div>
          <div class="sinse-box">
            <h3 class="sinse-title">Evento
              <span></span>
              <br>Sinse 2019</h3>
            <p>Event management</p>
          </div>
        </div>

      </div>
    </div>
</section>

<!--Categories-->
<section class="section-agents mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Categories</h2>
          </div>
          <!-- <div class="title-link">
            <a href="agents-grid.html">All Images
              <span class="ion-ios-arrow-forward"></span>
            </a>
          </div> -->
        </div>
      </div>
    </div>


    </div>
</section>

<section id="courses" class="section-padding">

<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6 padleft-right">
      <figure class="imghvr-fold-up">
        <img src="{% static 'img/post-7.jpg' %}" class="img-responsive">
        <figcaption>
          <h4>Course Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur libero fugiat, similique quis.</p>
        </figcaption>
        <a href="#"></a>
      </figure>
    </div>
    <div class="col-md-3 col-sm-6 padleft-right">
      <figure class="imghvr-fold-up">
        <img src="{% static 'img/post-7.jpg' %}" class="img-responsive">
        <figcaption>
          <h4>Course Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur libero fugiat, similique quis.</p>
        </figcaption>
        <a href="#"></a>
      </figure>
    </div>
    <div class="col-md-3 col-sm-6 padleft-right">
      <figure class="imghvr-fold-up">
        <img src="{% static 'img/post-7.jpg' %}" class="img-responsive">
        <figcaption>
          <h4>Course Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur libero fugiat, similique quis.</p>
        </figcaption>
        <a href="#"></a>
      </figure>
    </div>
    <div class="col-md-3 col-sm-6 padleft-right">
      <figure class="imghvr-fold-up">
        <img src="{% static 'img/post-7.jpg' %}" class="img-responsive">
        <figcaption>
          <h4>Course Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur libero fugiat, similique quis.</p>
        </figcaption>
        <a href="#"></a>
      </figure>
    </div>
  </div>
</div>
</section>
</div>
<!--Categories-->
<!--/Corporate events  star end /-->




{% endblock %}